In [1]:
import pymysql

In [2]:
import pandas as pd

In [3]:
conn = pymysql.connect(host='127.0.0.1', 
                       user='root',
                       password='1234',
                       db='weekproject', charset='utf8')

In [4]:
cur = conn.cursor()

### 전남

In [5]:
sql1 = 'drop table if exists jeonnam;'
cur.execute(sql1)

sql2 = '''
        create table jeonnam (
        Tour_id int not null primary key,
        Tour_spot varchar(40) not null,
        Tour_link varchar(100)
        );'''


cur.execute(sql2)

0

In [6]:
# 전남
# ['목포해상케이블카 북항승강장', '순천만국가정원', '이순신광장', '순천만습지', '담양관방제림']
sql = '''
    insert into jeonnam values
    	(1, '목포해상케이블카 북항승강장', 'http://www.mmcablecar.com/'),
    	(2, '순천만국가정원', 'scbay.suncheon.go.kr'),
    	(3, '이순신광장', 'https://korean.visitkorea.or.kr/detail/ms_detail.do?cotid=02d5ad3e-9d68-4812-842a-b3a1cbb2f7cb'),
    	(4, '순천만습지', 'https://scbay.suncheon.go.kr/wetland'),
    	(5, '담양관방제림', 'https://korean.visitkorea.or.kr/detail/ms_detail.do?cotid=2cb8fa15-499c-466c-9094-73b5d5e818af'); '''
cur.execute(sql)

5

In [7]:
conn.commit()

In [8]:
conn = pymysql.connect(host='127.0.0.1', 
                       user='root',
                       password='1234',
                       db='weekproject', charset='utf8')

In [9]:
cur = conn.cursor()

In [10]:
sql = 'select * from jeonnam; '
cur.execute(sql)
rows2 = cur.fetchall()
rows2

((1, '목포해상케이블카 북항승강장', 'http://www.mmcablecar.com/'),
 (2, '순천만국가정원', 'scbay.suncheon.go.kr'),
 (3,
  '이순신광장',
  'https://korean.visitkorea.or.kr/detail/ms_detail.do?cotid=02d5ad3e-9d68-4812-842a-b3a1cbb2f7cb'),
 (4, '순천만습지', 'https://scbay.suncheon.go.kr/wetland'),
 (5,
  '담양관방제림',
  'https://korean.visitkorea.or.kr/detail/ms_detail.do?cotid=2cb8fa15-499c-466c-9094-73b5d5e818af'))

In [11]:
pd.DataFrame(rows2, columns=['id','spot','link'])

   id            spot                                               link
0   1  목포해상케이블카 북항승강장                         http://www.mmcablecar.com/
1   2         순천만국가정원                               scbay.suncheon.go.kr
2   3           이순신광장  https://korean.visitkorea.or.kr/detail/ms_deta...
3   4           순천만습지               https://scbay.suncheon.go.kr/wetland
4   5          담양관방제림  https://korean.visitkorea.or.kr/detail/ms_deta...

In [12]:
conn.close()

In [13]:
def connectMysql(db_name):
    host='127.0.0.1' 
    port=3306
    user='root'
    password='1234'
    conn = pymysql.connect(host=host, port=port,
                           user=user, password=password,
                           db=db_name, charset='utf8')
    print(type(conn))
    return conn

In [14]:
conn = connectMysql('weekproject')

cur = conn.cursor()
sql = 'select * from gyeongnam; '
cur.execute(sql)
rows = cur.fetchall()
rows

conn.close()

<class 'pymysql.connections.Connection'>

In [15]:
df = pd.DataFrame(rows, columns = ['id','spot','link'])